.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  img {
    height: 50px;
  }
}

.searchBar {
  width: 300px;
  height: 35px;
  display: flex;
  position: relative;
  img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
}

.searchBar input {
  width: 300px;
  height: 100%;
  border-radius: 25px;
  padding-left: 30px;
  outline: none;
  border: 0.5px solid #eee;
  &::placeholder {
    padding-left: 10px;
    font-weight: 600;
    color: #000;
  }
}

.container .buttonBlock {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  button {
    font-weight: 700;
    align-items: center;
    border-style: none;
    background-color: white;
    display: flex;
    gap: 5px;
  }
  .cartIconWrapper {
    position: relative;
    .cartCounter {
      position: absolute;
      right: -10px;
      top: -10px;
      background-color: #fff100;
      border-radius: 100%;
      aspect-ratio: 1;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
