.mainContainer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  img {
    width: 20px;
    height: 20px;
  }
  .mainLogo {
    width: 70px;
    height: 40px;
  }
  .navBarBrand {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .rightTopNav {
    display: flex;
    gap: 10px;
    .rightSectionBtn {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
  .adveriseTexts {
    font-size: 14px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    p {
      a {
        color: #000;
      }
    }
  }
}
