.container {
  padding: 1rem;
  border-radius: 14px;
  background-color: white;
  height: 400px;
  margin: 25px;
  margin-left: 300px;
  display: flex;
}

.container img {
  width: 100%;
  height: 100%;
}

.imgContainer {
  width: 350px;
  display: grid;
}

.productInfo {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.priceControlContainer {
  margin-top: 10px;
}

.priceControl {
  display: flex;
  align-items: center;

  h3 {
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sizeContainer {
  h3 {
    margin: 0;
  }
}

.sizeSection {
  display: flex;

  div {
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;
    height: 30px;
    width: 30px;
  }

  div:hover {
    background-color: grey;
    border-radius: 50px;
  }
}

.priceControlButton {
  margin-left: 290px;
  margin-top: 10px;
}
.mainContainer {
  margin-top: 15px;
}

.counterBlock {
  display: flex;
  align-items: center;
  .button {
  }
  .minButton {
    width: 30px;
    height: 30px;
    background-color: #fff100;
    margin-right: 40px;
    border-radius: 30px;
  }

  .plusButton {
    width: 30px;
    height: 30px;
    background-color: #fff100;
    margin-left: 40px;
    border-radius: 30px;
  }
}

.cartBlock {
  display: flex;

  button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-top: 15px;
  }
  .addButton {
    background-color: #542e90;
    margin-right: 10px;
    color: white;
  }

  .pickButton {
    background-color: #fff100;
  }
}
