.mainContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-inline: auto;
  align-items: center;
  padding: 20px 0;
  color: #fff;
  span {
    display: flex;
    &:nth-child(2) {
      display: flex;
      gap: 10px;
    }
    &:nth-child(3) {
      display: flex;
      gap: 10px;
    }
  }
}
