.mainContainer {
  display: flex;
  padding: 0;
  justify-content: space-between;
  padding: 2.5rem 0;
}
.leftSection {
  border-right: 1px solid #868686;
  padding-right: 1rem;
  font-weight: 300 !important;
  img {
    margin-top: 20px;
  }

  p {
    color: #fff;
    font-size: 16px;
    width: 500px;
    margin-top: 30px;
  }
}

.rightSection {
  width: 500px;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    color: white;
  }

  input {
    padding-left: 40px;
    flex-grow: 1;
    height: 45px;
    border-radius: 30px;
    border: none;
    outline: none;
  }
}

.linkSection {
  display: flex;
}

.linkList {
  width: 100%;
  border-right: 1px solid #868686;
  margin-top: 30px;

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}

.socialMediaLinks {
  float: right;
  ul {
    list-style: none;
  }
  li {
    color: #fff !important;
    a {
      text-decoration: none;
    }
  }
}

.subBtn {
  display: flex;
  padding: 0.5rem 0.8rem;
  align-items: center;
  gap: 10px;
  background-color: #fff100;
  border-radius: 25px;
  height: 36px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
}

.searchBar {
  display: flex;
  margin-top: 15px;
  position: relative;
}
