.mainContainer {
  display: flex;
  margin-left: 60px;
  padding: 0;
}
.leftSection {
  width: 40%;
  margin-left: 1rem;
  margin-right: 2.5rem;
  padding-top: 2.5rem;
  border-right: 1px solid rgb(175, 175, 175);

  img{
    margin-top: 20px;
  }

  p {
    width: 500px;
    margin-top: 30px;
  }
}

.rightSection {
  margin-top: 3rem;
  width: 500px;

  h2 {
    color: white;
  }

  input {
    width: 450px;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 10px;
  }
}

.linkSection {
  display: flex;
}

.linkList {
  width: 100%;
  border-right: 1px solid rgb(175, 175, 175);
  margin-top: 30px;
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}

.socialMediaLinks {
  float: right;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
