.container {
  background-color: black;
}
.container ul {
  height: 48px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.container li {
  color: white;
  &:hover {
    cursor: pointer;
  }
}
